html,body{
  overflow: hidden
}
.backbox{
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: auto;
  position: absolute;
top: 50%;
left: 50%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
}
.yokoboxone{
  height: 100vh;
  width: 10vw;
  background-color: yellow;
  margin: auto;
  position: absolute;
top: 50%;
left: 20%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
}
.yokoboxtwo{
  height: 100vh;
  width: 10vw;
  background-color: yellow;
  margin: auto;
  position: absolute;
top: 50%;
left: 80%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
}
.pp{
  color: white;
  font-size: 22vmin;
  font-family: sans-serif;
  position: absolute;
top: 10%;
left: 50%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
}
#kae{
  height: 10vh;
  width: 10vh;
  /*background-color: white;*/
  margin: auto;
  position: absolute;
top: 50%;
left: 50%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
}
.animationclass{
    background-color: yellow;
     opacity: 0;
  animation: iroiro 4s 1.5s 1 forwards;
}
@keyframes iroiro {
  0%   { transform:translate(0%, -100%);  opacity: 0;}
  10% { transform:translate(0%, 0%);}
  15% { transform:translate(0%, -10%);}
  35% { transform:translate(0%, 0%);}
  60% { transform:scale(100, 1); opacity: 1;}
  100%{ transform:scale(100,100)}
}
.uekarabox{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    /*background-color: white;*/
    /*margin: auto;*/
    position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  animation: shitani 4s 0s 1 forwards;
}
@keyframes shitani {
  0% { transform:scale(100, 10);}
  100%{ transform:scale(100 ,0);}
}
